{{#section 'head'}}

<!-- AOS (Scroll Animation) -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" media="none" onload="if(media!='all')media='all'" />
<script src="https://unpkg.com/aos@next/dist/aos.js" defer></script>
<script src="libs/scroll-animate/scroll-config.js" defer></script>

<!-- Page CSS -->
<link rel="stylesheet" href="css/about.css" />
{{/section}}

<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 order-lg-2 text-lg-right text-center align-self-center">
        <img src="images/logo.png" class="logo rounded img-fluid" alt="Logo" loading="lazy">
      </div>
      <div class="col-lg-7 order-lg-1">
        <div class="about-text-container">
          <h1>About Us</h1>
          <p>
            What started as a casual conversation between two students during a boring lecture, ignited the passion for beginning an adventure that will see them transform into a multi-disciplinary team with a focus on developing products that are enjoyable and impacts our community. 
            Dreamlink Studio is a software development start-up with an emphasis on transforming dreams into reality. We have a strong belief that with the increased need for students of all ages to carry out independent learning, it is vital to provide the right tools to set them up for success. Gone are the days of reading textbooks and memorising theories; now is the time for us to take control of how we learn. Whether it be creating the next application or planning our next move, our imaginations will drive us to our next innovation and milestone. 
          </p>
          <p>
            Our journey has just begun. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="out-people">
  <h1 class="display-5 text-center font-weight-light text-capitalize">Our people</h1>
  <div class="container">
    {{#each teamData}}
    <div 
      class="profile-row d-inline-flex row my-4 {{#ifOdd @index }}text-lg-right text-left flex-row-reverse{{/ifOdd}}" 
      data-aos="{{#ifOdd @index }}fade-left{{else}}fade-right{{/ifOdd}}" 
      data-aos-once="true" 
      data-aos-mirror="false">
      <div class="d-flex col-lg-2 align-items-center justify-content-center">
        <figure class="img-container text-lg-left text-center my-0">
          <img src="{{this.aboutProfile}}" class="profile-image img-fluid" alt="{{this.fullName}}'s Profile Image" loading="lazy" />
          <figcaption class="socials">
            <a href="{{this.linkedin}}" rel="noopener" target="_blank" title="Click to view {{this.firstName}}'s LinkedIn profile"><i class="icon fab fa-linkedin"></i></a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-10 mt-4 mt-lg-0" id="{{this.id}}">
        <h4 class="capitalize">{{this.fullName}}</h4>
        {{{this.description}}}
      </div>
    </div>
    {{/each}}
  </div> <!-- End container -->
</section>